@mixin prefix($property, $value, $prefixes) {
	@each $prefix in $prefixes {
		-#{$prefix}-#{$property}: $value;
	}

	#{$property}: $value;
}

* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

$theme-color: crimson;
$unread-border: $theme-color solid;

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow: hidden;

	>header {
		display: flex;
		justify-content: space-between;
		padding-inline: .5em;
		height: 1.5rem;
		line-height: 1.5rem;
		background-color: black;
		color: white;
	}

	>main {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		.page {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			overflow: auto;

			>header {
				flex-shrink: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				position: sticky;
				top: 0;
				height: 3em;
				background-color: lightgray;

				.nav-back {
					position: absolute;
					left: 1em;
				}
			}

			>main {
				flex-grow: 1;
				overflow-y: auto;
			}
		}

		>footer {
			$height: 3em;
			flex-shrink: 0;
			display: flex;
			justify-content: space-evenly;
			align-items: stretch;
			height: $height;
			background: white;
			border-top: 1px solid black;

			&:not(.visible) {
				display: none;
			}

			>* {
				padding-inline: 1em;
				line-height: $height;
				color: gray;

				&.active {
					color: inherit;
					font-weight: bold;
				}

				&.unread {
					border-bottom: .3em $unread-border;
				}
			}
		}
	}
}

#inbox>main {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em;

	>.entry {
		display: flex;
		flex-direction: column;
		border: 1px solid black;
		padding: .5em;

		>.content {
			flex-grow: 1;
			max-height: 3.5em;
			word-break: break-all;
			word-wrap: break-word;
			overflow: hidden;
			@include prefix(mask-image, linear-gradient(to top, transparent, #00000022 10%, #000000 20%), moz webkit);
		}

		&.unread {
			border-right: .8em $unread-border;
		}
	}
}

#message>main {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: #eee;

	>.history {
		flex-grow: 1;
		display: flex;
		flex-direction: column-reverse;
		overflow: auto;
		list-style: none;
		margin: 0;
		padding: 0;

		>li {
			padding: 1em;
			border-bottom: 1px solid black;

			>.sender {
				margin-right: .5em;
				font-size: 1.5em;
				font-weight: bold;
			}

			>.content {
				font-size: 1.2em;
			}
		}
	}

	>footer {
		flex-shrink: 0;

		display: flex;
		align-items: stretch;

		height: 3.5rem;
		padding: .5em;
		gap: .5em;

		background-color: white;

		>* {
			font-size: inherit;
		}

		>#input {
			flex-grow: 1;

			display: block;

			font-size: 1.3rem;
			line-height: 1.5rem;
			min-width: 0;

			border-radius: 0;
			border: none;
			outline: none;

			&:focus {
				outline: none;
			}
		}

		>button {
			display: block;
			flex-shrink: 0;
			font-size: 1.1rem;
			padding-inline: .25em;

			color: $theme-color;
			border-radius: 50rem;
			border: .125em solid $theme-color;
			outline: none;

			background: transparent;
		}
	}
}

#wallet>main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	#balance {
		font-size: 4em;
		font-weight: bold;

		&::before {
			content: "￥";
		}
	}
}
